@use '../../style/mixin' as *;

$module: #{$prefix}-row;

.#{$module} {
  @include reset;

  display: flex;
  flex-flow: row wrap;

  &-align {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }

    &-stretch {
      align-items: stretch;
    }
  }

  &-justify {
    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-space-between {
      justify-content: space-between;
    }

    // space-evenly 兼容性为 >=Chrome60，不在此组件库的兼容性范围内，不予支持
  }
}
