// 字体相关token
:root {
  // 字体family token
  --sqi-font-family: PingFang SC, Microsoft YaHei, Arial Regular;

  // 字体大小 token
  --sqi-font-size-sm: 12px;
  --sqi-font-size-md: 14px;
  --sqi-font-size-lg: 16px;
  --sqi-font-size-title-sm: 14px;
  --sqi-font-size-title-md: 16px;
  --sqi-font-size-title-lg: 20px;

  // 字体行高 token
  --sqi-line-height-sm: 20px;
  --sqi-line-height-md: 22px;
  --sqi-line-height-lg: 24px;
  --sqi-line-height-title-sm: 22px;
  --sqi-line-height-title-md: 24px;
  --sqi-line-height-title-lg: 28px;

  // font token
  --sqi-font-sm: var(--sqi-font-size-sm) / var(--sqi-line-height-sm) var(--sqi-font-family);
  --sqi-font-md: var(--sqi-font-size-md) / var(--sqi-line-height-md) var(--sqi-font-family);
  --sqi-font-lg: var(--sqi-font-size-lg) / var(--sqi-line-height-lg) var(--sqi-font-family);
  --sqi-font-title-sm: 600 var(--sqi-font-size-title-sm) / var(--sqi-line-height-title-sm) var(--sqi-font-family);
  --sqi-font-title-md: 600 var(--sqi-font-size-title-md) / var(--sqi-line-height-title-md) var(--sqi-font-family);
  --sqi-font-title-lg: 600 var(--sqi-font-size-title-lg) / var(--sqi-line-height-title-lg) var(--sqi-font-family);
}
