@use '../../style/mixin' as *;

// 颜色
$divider-border-color: $component-stroke;
$divider-color: $text-color-primary;

// 字体
$divider-font: $font-md;

// 间距
$divider-horizontal-margin: $margin-xxl 0;
$divider-vertical-margin: 0 $margin-sm;
$divider-inner-text-padding: 0 1em;

// 尺寸
$divider-border-width: 1px;
$divider-vertical-height: 0.9em;
