@use '../../style/mixin' as *;

$module: #{$prefix}-space;

.#{$module} {
  @include reset;

  display: inline-flex;

  &-direction {
    &-horizontal {
      flex-direction: row;
    }
    &-vertical {
      flex-direction: column;
    }
  }

  &-align {
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-end {
      align-items: flex-end;
    }
    &-baseline {
      align-items: baseline;
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }
}
