@use 'sass:list';
@use './var' as *;
@use './mixin' as *;

// 定义方向和对应的动画映射
$slide-directions: (
  left: (
    -100%,
    0,
    0,
  ),
  right: (
    100%,
    0,
    0,
  ),
  top: (
    0,
    -100%,
    0,
  ),
  bottom: (
    0,
    100%,
    0,
  ),
);

.#{$module}-slide {
  @each $direction, $translate in $slide-directions {
    $x: list.nth($translate, 1);
    $y: list.nth($translate, 2);
    $z: list.nth($translate, 3);

    &-#{$direction}-enter-active {
      @include animation-common(ease-in-out);
      animation-name: slideIn#{$direction};
    }

    &-#{$direction}-exit-active {
      @include animation-common(cubic-bezier(0.4, 0, 1, 1));
      animation-name: slideOut#{$direction};
    }
  }
}

@mixin slide-keyframes($direction, $x, $y, $z) {
  @keyframes slideIn#{$direction} {
    from {
      opacity: 0;
      transform: translate3d($x, $y, $z);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes slideOut#{$direction} {
    from {
      opacity: 1;
      transform: none;
    }
    to {
      opacity: 0;
      transform: translate3d($x, $y, $z);
    }
  }
}

// 生成 keyframes 集合
@each $direction, $translate in $slide-directions {
  @include slide-keyframes($direction, list.nth($translate, 1), list.nth($translate, 2), list.nth($translate, 3));
}
