@use 'sass:map';
@use '../../style/mixin' as *;
@use './var' as *;

$module: #{$prefix}-switch;

.#{$module} {
  @include reset;

  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  height: $switch-height-md;
  line-height: $switch-height-md;
  border-radius: $border-radius-round;
  min-width: $switch-min-width-md;
  transition: $switch-transition;
  background-color: $switch-unchecked-bg-color;
  cursor: pointer;
  user-select: none;

  &:hover:not(.#{$module}-disabled):not(.#{$module}-loading) {
    background-color: $switch-unchecked-bg-color-hover;
  }

  &-handle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: $switch-width-border-md;
    left: $switch-width-border-md;
    width: calc($switch-height-md - 2 * $switch-width-border-md);
    height: calc($switch-height-md - 2 * $switch-width-border-md);
    border-radius: $border-radius-round;
    transition: $switch-handle-transition;
    box-shadow: $shadow-1;

    .#{$module}-icon {
      font-size: calc($switch-height-md - 4px);
      color: transparent;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: $border-radius-round;
      background-color: $switch-handle-bg-color;
      transition: $switch-handle-transition;
    }
  }

  &-content {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    color: $switch-content-color-unchecked;
    padding-left: $switch-content-margin-left-md;
    padding-right: $switch-content-margin-right-md;
    font-size: $switch-content-font-size-md;
    min-width: $switch-min-width-md;
    transition: $switch-content-transition;

    .#{$module}-icon {
      font-size: $font-size-lg;
    }
  }

  // switch 点的按压动画：点宽 + 3px偏移，内容透明
  &:active:not(.#{$module}-disabled):not(.#{$module}-loading) {
    .#{$module}-handle::before {
      left: 0;
      right: -3px;
    }

    &.#{$module}-checked {
      .#{$module}-handle::before {
        right: 0;
        left: -3px;
      }
    }

    .#{$module}-content {
      opacity: 0;
    }
  }

  // Checked
  &.#{$module}-checked {
    background-color: $switch-checked-bg-color;

    &:hover:not(.#{$module}-disabled):not(.#{$module}-loading) {
      background-color: $switch-checked-bg-color-hover;
    }

    // 点反方向移动
    .#{$module}-handle {
      top: $switch-width-border-md;
      left: calc(100% - $switch-width-border-md);
      transform: translate(-100%, 0);
    }

    .#{$module}-content {
      color: $switch-content-color-checked;
      padding-left: $switch-content-margin-right-md;
      padding-right: $switch-content-margin-left-md;
    }
  }

  // Loading & Disabled
  &.#{$module}-loading,
  &.#{$module}-disabled {
    cursor: not-allowed;
    background-color: $switch-unchecked-bg-color-loading;

    .#{$prefix}-icon {
      color: $switch-unchecked-bg-color-loading;
    }

    &.#{$module}-checked {
      background-color: $switch-checked-bg-color-disabled;

      .#{$prefix}-icon {
        color: $switch-checked-bg-color-loading;
      }
    }
  }
}
