@use 'sass:map';
@use '../../style/mixin' as *;
@use './var' as *;

$module: #{$prefix}-btn;

@mixin button-size($btn-height, $btn-font-size, $btn-icon-size, $padding) {
  .sqi-icon {
    font-size: $btn-icon-size;
  }

  & {
    height: $btn-height;
    font: $btn-font-size;
    padding: 0 calc($padding - $btn-border-width);
  }
}

@mixin button-attr-color($type, $attr, $ghost: false) {
  $color-map: map.get($btn-color, $type);

  $theme-normal: map.get($color-map, 'normal');
  $theme-hover: map.get($color-map, 'hover');
  $theme-active: map.get($color-map, 'active');
  $theme-disabled: map.get($color-map, 'disabled');

  #{$attr}: $theme-normal;

  &:hover {
    #{$attr}: $theme-hover;
  }

  &:active {
    #{$attr}: $theme-active;
  }

  &.#{$module}-disabled {
    #{$attr}: $theme-disabled;
  }
}

.#{$module} {
  @include reset;

  & {
    border: $btn-border-width solid transparent;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: $btn-border-radius;
    transition: all $anim-duration-base linear;
    text-decoration: none;

    color: $btn-text-variant-base-color;
  }

  .#{$prefix}-icon {
    & + span:not(:empty) {
      margin-left: $btn-icon-text-margin-left;
    }
  }

  &.#{$module}-disabled {
    cursor: not-allowed;

    > * {
      pointer-events: none;
    }
  }

  &-loading {
    opacity: 0.5;
    pointer-events: none;
  }

  @include button-size($btn-height-md, $btn-font-md, $btn-icon-size-md, $btn-padding-md);

  &-size {
    &-sm {
      @include button-size($btn-height-sm, $btn-font-sm, $btn-icon-size-sm, $btn-padding-sm);
    }
    &-lg {
      @include button-size($btn-height-lg, $btn-font-lg, $btn-icon-size-lg, $btn-padding-lg);
    }
  }

  &-variant-default {
    @include button-attr-color('text-gray', color);
    @include button-attr-color('gray-bg', background-color);
    @include button-attr-color('gray-bg', border-color);

    &.#{$module}-status-primary,
    &.#{$module}-primary {
      color: $btn-text-variant-base-color;
      @include button-attr-color('primary', background-color);
      @include button-attr-color('primary', border-color);
    }

    &.#{$module}-status-success {
      color: $btn-text-variant-base-color;
      @include button-attr-color('success', background-color);
      @include button-attr-color('success', border-color);
    }

    &.#{$module}-status-warning {
      color: $btn-text-variant-base-color;
      @include button-attr-color('warning', background-color);
      @include button-attr-color('warning', border-color);
    }

    &.#{$module}-status-danger {
      color: $btn-text-variant-base-color;
      @include button-attr-color('danger', background-color);
      @include button-attr-color('danger', border-color);
    }
  }

  &-variant-outline {
    @include button-attr-color('text', color);
    @include button-attr-color('white-bg', background-color);
    @include button-attr-color('border-gray', border-color);

    &.#{$module}-status-primary,
    &.#{$module}-primary {
      @include button-attr-color('primary', color);
      @include button-attr-color('primary', border-color);
    }

    &.#{$module}-status-success {
      @include button-attr-color('success', color);
      @include button-attr-color('success', border-color);
    }

    &.#{$module}-status-warning {
      @include button-attr-color('warning', color);
      @include button-attr-color('warning', border-color);
    }

    &.#{$module}-status-danger {
      @include button-attr-color('danger', color);
      @include button-attr-color('danger', border-color);
    }
  }

  &-variant-text {
    @include button-attr-color('text-gray', color);
    @include button-attr-color('text-bg', background-color);
    @include button-attr-color('text-bg', border-color);

    &.#{$module}-status-primary,
    &.#{$module}-primary {
      @include button-attr-color('primary', color);
    }

    &.#{$module}-status-success {
      @include button-attr-color('success', color);
    }

    &.#{$module}-status-warning {
      @include button-attr-color('warning', color);
    }

    &.#{$module}-status-danger {
      @include button-attr-color('danger', color);
    }
  }

  &-variant-dashed {
    @include button-attr-color('text', color);
    @include button-attr-color('white-bg', background-color);
    @include button-attr-color('border-gray', border-color);

    border-style: dashed;

    &.#{$module}-status-primary,
    &.#{$module}-primary {
      @include button-attr-color('primary', color);
      @include button-attr-color('primary', border-color);
    }

    &.#{$module}-status-success {
      @include button-attr-color('success', color);
      @include button-attr-color('success', border-color);
    }

    &.#{$module}-status-warning {
      @include button-attr-color('warning', color);
      @include button-attr-color('warning', border-color);
    }

    &.#{$module}-status-danger {
      @include button-attr-color('danger', color);
      @include button-attr-color('danger', border-color);
    }
  }

  &-link {
    @include button-attr-color('text-gray', color);
    @include button-attr-color('none', background-color);
    @include button-attr-color('none', border-color);

    &.#{$module}-status-primary,
    &.#{$module}-primary {
      @include button-attr-color('primary', color);
      @include button-attr-color('none', background-color);
      @include button-attr-color('none', border-color);
    }

    &.#{$module}-status-success {
      @include button-attr-color('success', color);
      @include button-attr-color('none', background-color);
      @include button-attr-color('none', border-color);
    }

    &.#{$module}-status-warning {
      @include button-attr-color('warning', color);
      @include button-attr-color('none', background-color);
      @include button-attr-color('none', border-color);
    }

    &.#{$module}-status-danger {
      @include button-attr-color('danger', color);
      @include button-attr-color('none', background-color);
      @include button-attr-color('none', border-color);
    }
  }
}
