.list-item-container {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  overflow-x: auto;
}

.sqi-demo-list-motion {
  flex-shrink: 0;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.sqi-demo-list-motion.sqi-demo-list-motion-preEnter,
.sqi-demo-list-motion.sqi-demo-list-motion-exiting {
  opacity: 0;
  transform: translateX(-100%);
}

.sqi-demo-list-motion.sqi-demo-list-motion-exited {
  display: none;
}

.list-item {
  display: inline-flex;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  color: var(--sqi-text-color-anti);
  background-color: var(--sqi-brand-color-6);
}
