@use './var' as *;

@mixin spin {
  animation: sq-spin 1s linear infinite;

  @keyframes sq-spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.#{$prefix}-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &-spin {
    @include spin;
  }
}
