.sqi-demo-trigger-motion {
  transition: opacity 0.25s ease-in-out;
}

.sqi-demo-trigger-motion.sqi-demo-trigger-motion-preEnter,
.sqi-demo-trigger-motion.sqi-demo-trigger-motion-exiting {
  opacity: 0;
}

.sqi-demo-trigger-motion.sqi-demo-trigger-motion-entered {
  opacity: 1;
}

.sqi-demo-trigger-motion.sqi-demo-trigger-motion-exited {
  display: none;
}
