@use '../../style/mixin' as *;

// color
$alert-success-bg-color: $success-color-focus;
$alert-info-bg-color: $brand-color-focus;
$alert-warning-bg-color: $warning-color-focus;
$alert-error-bg-color: $error-color-focus;
$alert-title-color: $text-color-primary;
$alert-description-color: $text-color-secondary;

$alert-success-icon-color: $success-color;
$alert-info-icon-color: $brand-color;
$alert-warning-icon-color: $warning-color;
$alert-error-icon-color: $error-color;

$alert-close-color: $text-color-secondary;
$alert-close-color-hover: $text-color-primary;

// size
$alert-font-size: $font-size-md;
$alert-line-height: $text-line-height-md;
$alert-icon-size: $alert-line-height;
$alert-close-size: calc($alert-line-height - 2px);

// 间距
$alert-padding: $padding-md $padding-lg;
$alert-action-margin-left: $margin-lg;
$alert-icon-margin-right: $margin-sm;
$alert-close-margin-left: $margin-lg;
$alert-close-padding: calc(($alert-line-height - $alert-close-size) / 2) 0;
$alert-description-margin-top: $margin-sm;
