@use '../../style/mixin' as *;

// 颜色
$checkbox-border-color: $component-border;
$checkbox-border-color-checked: $brand-color;
$checkbox-border-color-hover: $brand-color;

$checkbox-input-color: $bg-color-container;
$checkbox-input-color-checked: $brand-color;
$checkbox-input-color-disabled: $bg-color-component-disabled;

$checkbox-check-color: $text-color-anti;
$checkbox-check-color-disabled: $text-color-disabled;
// 图标禁止选中状态下时icon的色值变量
$checkbox-check-icon-disabled-color: $text-color-disabled;

$checkbox-input-color-indeterminate: $brand-color;
$checkbox-indeterminate-color-disabled: $text-color-disabled;

$checkbox-label-color: $text-color-primary;

// 尺寸
$checkbox-size: 16px;
$checkbox-border-radius: $border-radius-md;
$checkbox-margin-right: $margin-sm;

$checkbox-check-width: 5px;
$checkbox-check-height: 9px;
$checkbox-check-left: 3px;

$checkbox-indeterminate-width: 16px;
$checkbox-indeterminate-height: 4px;
$checkbox-indeterminate-color: $font-white-1;

// 字号
$checkbox-font: $font-size-md;

// padding
$checkbox-input-label-spacer: $spacer; // 文本内容与 input 之间的间隔
$checkbox-spacer: $margin-sm; // checkbox 之间的间隔

// 组合复选框margin
$checkbox-group-gap: $spacer-2;
// 单个复选框margin
$checkbox-margin: inherit;
