// $radio-cls: ~"${prefix}-radio";
// $radio-btn--cls: ~"${prefix}-radio-btn";
@use 'sass:map';
@use '../../style/mixin' as *;

// 颜色
$radio-border-color: $component-border;

$radio-input-color: $bg-color-container;
$radio-input-color-disabled: $bg-color-component-disabled;

$radio-dot-color: $brand-color;
$radio-dot-color-disabled: $bg-color-component-disabled;
$radio-dot-color-disabled-checked: $text-color-disabled;

$radio-label-color: $text-color-primary;

$radio-btn-border-color-default: $component-border;
$radio-btn-border-color-hover: $brand-color-hover;
$radio-btn-color-outline-hover: $brand-color-hover;
$radio-btn-border-color-checked: $brand-color;
$radio-btn-color-outline-checked: $brand-color;
$radio-btn-background-color-disabled: $bg-color-component-disabled;
$radio-btn-color-disabled: $text-color-disabled;
$radio-btn-background-color-outline-disabled-checked: $bg-color-special-component;
$radio-btn-color-disabled-checked: $text-color-disabled;

$radio-btn-group-background-color-filled: $bg-color-component;
$radio-btn-color-filled: $text-color-secondary;
$radio-btn-color-filled-hover: $text-color-primary;
$radio-btn-color-default-filled-checked: $text-color-primary;
$radio-btn-color-primary-filled-checked: $text-color-anti;
$radio-btn-color-default-filled-disabled-checked: $text-color-disabled;
$radio-btn-background-color-default-filled-checked: $bg-color-container-select;
$radio-btn-background-color-primary-filled-checked: $brand-color;
$radio-btn-background-color-default-filled-disabled-checked: $bg-color-component-disabled;
$radio-btn-background-color-primary-filled-disabled-checked: $brand-color-disabled;

// 尺寸
$radio-size: 16px;
$radio-dot-size: calc($radio-size / 2);
$radio-margin-right: $margin-xxl;
$radio-btn-border-radius: $border-radius-sm;
$radio-outline-height-sm: $size-xs;
$radio-outline-height-md: $size-md;
$radio-outline-height-lg: $size-xl;
$radio-height-sm: calc($size-xs - ($padding-xxs * 2));
$radio-height-md: calc($size-md - ($padding-xxs * 2));
$radio-height-lg: calc($size-xl - ($padding-xxs * 2));
$radio-btn-before-width: 1px;

// 字号
$radio-font: $font-md;
$radio-btn-font-sm: $font-sm;
$radio-btn-font-md: $font-md;
$radio-btn-font-lg: $font-lg;

// padding
$radio-spacer: $margin-sm; // radio 与 radio 之间的间隔
$radio-input-label-spacer: $margin-sm; // 文本内容与 input 之间的间隔
$radio-btn-padding-sm: 0px $padding-sm;
$radio-btn-padding-md: $padding-xs $padding-lg;
$radio-btn-padding-lg: $padding-sm $padding-xl;
$radio-btn-before-left: 0px;
$radio-btn-before-top: 50%;
$radio-btn-border: 1px solid;

$radio-group-padding: $padding-xxs $padding-xxs;
$radio-group-filled-bg-block-left: 2px;
$radio-group-filled-bg-block-top: 2px;

// 动画
$radio-group-transition: all $anim-duration-base $anim-time-fn-easing;
$radio-btn-before-transition: translateY(-50%);
$radio-btn-transition: color $anim-duration-base $anim-time-fn-ease-out;
$radio-input-transition: border $anim-duration-base $anim-time-fn-ease-out;
// 透明度
$radio-opacity-transparent: 0; // 全透明

// 边框
$radio-input-border: 1px solid $radio-border-color;
