@use '../../style/mixin' as *;
@use './var' as *;

$module: #{$prefix}-radio;

.#{$module}-group {
  @include reset;

  display: inline-block;

  > .#{$module}-wrapper {
    margin-right: $radio-spacer;

    &:last-child {
      margin-right: 0;
    }
  }
}
