$prefix: 'sqi';

// 可读基础颜色
$brand-color: var(--sqi-brand-color); // 色彩-品牌-可操作
$warning-color: var(--sqi-warning-color); // 色彩-功能-警告
$error-color: var(--sqi-error-color); // 色彩-功能-失败
$success-color: var(--sqi-success-color); // 色彩-功能-成功

// 基础颜色的扩展 用于 hover / 聚焦 / 禁用 / 点击 等状态
$brand-color-hover: var(--sqi-brand-color-hover); // hover态
$brand-color-focus: var(--sqi-brand-color-focus); // focus态，包括鼠标和键盘
$brand-color-active: var(--sqi-brand-color-active); // 点击态
$brand-color-disabled: var(--sqi-brand-color-disabled); // 禁用态
$brand-color-light: var(--sqi-brand-color-light); // 浅色的选中态
$brand-color-light-hover: var(--sqi-brand-color-light-hover);

// 警告色扩展
$warning-color-hover: var(--sqi-warning-color-hover);
$warning-color-focus: var(--sqi-warning-color-focus);
$warning-color-active: var(--sqi-warning-color-active);
$warning-color-disabled: var(--sqi-warning-color-disabled);
$warning-color-light: var(--sqi-warning-color-light);
$warning-color-light-hover: var(--sqi-warning-color-light-hover);

// 失败/错误色扩展
$error-color-hover: var(--sqi-error-color-hover);
$error-color-focus: var(--sqi-error-color-focus);
$error-color-active: var(--sqi-error-color-active);
$error-color-disabled: var(--sqi-error-color-disabled);
$error-color-light: var(--sqi-error-color-light);
$error-color-light-hover: var(--sqi-error-color-light-hover);

// 成功色扩展
$success-color-hover: var(--sqi-success-color-hover);
$success-color-focus: var(--sqi-success-color-focus);
$success-color-active: var(--sqi-success-color-active);
$success-color-disabled: var(--sqi-success-color-disabled);
$success-color-light: var(--sqi-success-color-light);
$success-color-light-hover: var(--sqi-success-color-light-hover);

// 背景色
$bg-color-container: var(--sqi-bg-color-container); // 色彩  - 组件
$bg-color-container-hover: var(--sqi-bg-color-container-hover); // 色彩 - 组件 - hover
$bg-color-container-active: var(--sqi-bg-color-container-active); // 色彩 - 组件 - active
$bg-color-secondary-container: var(--sqi-bg-color-secondary-container); // 色彩 - 次级容器
$bg-color-secondary-container-hover: var(--sqi-bg-color-secondary-container-hover); // 色彩 - 次级容器 - hover
$bg-color-secondary-container-active: var(--sqi-bg-color-secondary-container-active); // 色彩 - 次级容器 - active
$bg-color-component: var(--sqi-bg-color-component); // 色彩  - 组件
$bg-color-component-hover: var(--sqi-bg-color-component-hover); // 色彩 - 组件 - hover
$bg-color-component-active: var(--sqi-bg-color-component-active); // 色彩 - 组件 - active
$bg-color-component-disabled: var(--sqi-bg-color-component-disabled); // 色彩 - 组件 - disabled

// 文本颜色
$text-color-primary: var(--sqi-text-color-primary); // 色彩-文字-主要
$text-color-secondary: var(--sqi-text-color-secondary); // 色彩-文字-次要
$text-color-placeholder: var(--sqi-text-color-placeholder); // 色彩-文字-占位符/说明
$text-color-disabled: var(--sqi-text-color-disabled); // 色彩-文字-禁用
$text-color-anti: var(--sqi-text-color-anti); // 色彩-文字-反色
$text-color-brand: var(--sqi-text-color-brand); // 色彩-文字-品牌
$text-color-link: var(--sqi-text-color-link); // 色彩-文字-链接

// 分割线
$component-stroke: var(--sqi-component-stroke);
// 边框
$component-border: var(--sqi-component-border);

$bg-color-special-component: var(--sqi-bg-color-special-component);

// component 组件尺寸高度相关 token
$size-xs: var(--sqi-size-xs);
$size-sm: var(--sqi-size-sm);
$size-md: var(--sqi-size-md);
$size-lg: var(--sqi-size-lg);
$size-xl: var(--sqi-size-xl);
$size-xxl: var(--sqi-size-xxl);

// component 组件 padding token
$padding-xs: var(--sqi-padding-xs);
$padding-sm: var(--sqi-padding-sm);
$padding-md: var(--sqi-padding-md);
$padding-lg: var(--sqi-padding-lg);
$padding-xl: var(--sqi-padding-xl);
$padding-xxl: var(--sqi-padding-xxl);

// component 组件 margin token
$margin-xs: var(--sqi-margin-xs);
$margin-sm: var(--sqi-margin-sm);
$margin-md: var(--sqi-margin-md);
$margin-lg: var(--sqi-margin-lg);
$margin-xl: var(--sqi-margin-xl);
$margin-xxl: var(--sqi-margin-xxl);
$margin-xxxl: var(--td-comp-margin-xxxl);

$text-line-height-sm: var(--sqi-line-height-sm);
$text-line-height-md: var(--sqi-line-height-md);
$text-line-height-lg: var(--sqi-line-height-lg);

// Font
$font-size-sm: var(--sqi-font-size-sm);
$font-size-md: var(--sqi-font-size-md);
$font-size-lg: var(--sqi-font-size-lg);
$font-size-xl: var(--sqi-font-size-title-lg);

$font-family: var(--sqi-font-family);

// font token
$font-sm: var(--sqi-font-sm);
$font-md: var(--sqi-font-md);
$font-lg: var(--sqi-font-lg);
$font-title-sm: var(--sqi-font-title-sm);
$font-title-md: var(--sqi-font-title-md);
$font-title-lg: var(--sqi-font-title-lg);

// Border Radius
$border-radius-sm: var(--sqi-radius-sm); // 圆角-2
$border-radius-md: var(--sqi-radius-md); // 圆角-4
$border-radius-lg: var(--sqi-radius-lg); // 圆角-6
$border-radius-extra-lg: var(--sqi-radius-extra-lg); // 圆角-9
$border-radius-round: var(--sqi-radius-round); // 圆角-999
$border-radius-circle: var(--sqi-radius-circle); // 圆角-全圆角

// 动画
$anim-time-fn-easing: cubic-bezier(0.38, 0, 0.24, 1);
$anim-time-fn-ease-out: cubic-bezier(0, 0, 0.15, 1);
$anim-time-fn-ease-in: cubic-bezier(0.82, 0, 1, 0.9);
$anim-duration-base: 0.2s;
$anim-duration-moderate: 0.24s;
$anim-duration-slow: 0.28s;

$spacer: var(--sqi-spacer); // 8px
$spacer-sm: var(--sqi-spacer-sm); // 4px
$spacer-md: var(--sqi-spacer-md); // 6px
$spacer-lg: var(--sqi-spacer-lg); // 12px

$spacer-1: var(--sqi-spacer-1); // 8px
$spacer-2: var(--sqi-spacer-2); // 16px
$spacer-3: var(--sqi-spacer-3); // 24px
$spacer-4: var(--sqi-spacer-4); // 32px
$spacer-5: var(--sqi-spacer-5); // 40px
$spacer-6: var(--sqi-spacer-6); // 48px
$spacer-7: var(--sqi-spacer-7); // 56px
$spacer-8: var(--sqi-spacer-8); // 64px
$spacer-9: var(--sqi-spacer-9); // 72px
$spacer-10: var(--sqi-spacer-10); // 80px

// media 的 css var 暂未支持
// https://segmentfault.com/q/1010000042614433
$screen-xxl: 1600px;
$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 480px;
