@use '../../style/mixin' as *;

// 尺寸
$btn-height-sm: $size-xs;
$btn-height-md: $size-md;
$btn-height-lg: $size-lg;

// 圆角
$btn-border-radius: $border-radius-md;
$btn-shape-border-radius-sm: calc($btn-height-sm / 2);
$btn-shape-border-radius-md: calc($btn-height-md / 2);
$btn-shape-border-radius-lg: calc($btn-height-lg / 2);

//字号
$btn-font-sm: $font-sm;
$btn-font-md: $font-md;
$btn-font-lg: $font-lg;

// 图标大小
$btn-icon-size-sm: $font-size-md;
$btn-icon-size-md: $font-size-lg;
$btn-icon-size-lg: $font-size-xl;
$btn-loading-size: $font-size-lg;

// 按钮中icon和文字的间距
$btn-icon-text-margin-left: $spacer;

// padding
$btn-padding-sm: $padding-md;
$btn-padding-md: $padding-lg;
$btn-padding-lg: $padding-xl;

$btn-border-width: 1px;

$btn-color: (
  primary: (
    // 状态色 - 主色
    normal: $brand-color,
    hover: $brand-color-hover,
    active: $brand-color-active,
    disabled: $brand-color-disabled,
  ),
  success: (
    // 状态色 - 危险
    normal: $success-color,
    hover: $success-color-hover,
    active: $success-color-active,
    disabled: $success-color-disabled,
  ),
  warning: (
    // 状态色 - 危险
    normal: $warning-color,
    hover: $warning-color-hover,
    active: $warning-color-active,
    disabled: $warning-color-disabled,
  ),

  danger: (
    // 状态色 - 危险
    normal: $error-color,
    hover: $error-color-hover,
    active: $error-color-active,
    disabled: $error-color-disabled,
  ),

  white-bg: (
    // 状态色 - 白 ghost
    normal: transparent,
    hover: transparent,
    active: $bg-color-container-active,
    disabled: $bg-color-component-disabled,
  ),

  gray-bg: (
    // 状态色 - 灰 背景
    normal: $bg-color-component,
    hover: $bg-color-component-hover,
    active: $bg-color-component-active,
    disabled: $bg-color-component-disabled,
  ),

  text-bg: (
    // 状态色 - 无框背景 - 即文字背景
    normal: transparent,
    hover: $bg-color-container-hover,
    active: $bg-color-container-active,
    disabled: transparent,
  ),

  border-gray: (
    // 状态色 - border 灰
    normal: $component-border,
    hover: $brand-color-hover,
    active: $brand-color-active,
    disabled: $component-border,
  ),

  text: (
    // 状态色 - 文字 for 描边
    normal: $text-color-primary,
    hover: $brand-color-hover,
    active: $brand-color-active,
    disabled: $text-color-disabled,
  ),

  text-gray: (
    // 状态色 - 灰字 for base default | 灰色文字按钮
    normal: $text-color-primary,
    hover: $text-color-primary,
    active: $text-color-primary,
    disabled: $text-color-disabled,
  ),

  none: (
    normal: transparent,
    hover: transparent,
    active: transparent,
    disabled: transparent,
  ),
);

// 文本
$btn-text-variant-base-color: $text-color-anti;

// 状态色 - disabled ghost
$btn-color-ghost-disabled: rgba(255, 255, 255, 0.22);
