@use '../../style/mixin' as *;
@use './var' as *;

$module: #{$prefix}-divider;

.#{$module} {
  @include reset;

  margin: 0;
  padding: 0;
  border-top: $divider-border-width solid $divider-border-color;

  &-horizontal {
    display: flex;
    width: 100%;
    min-width: 100%;
    margin: $divider-horizontal-margin;
  }

  &-vertical {
    border-top: none;
    display: inline-block;
    margin: $divider-vertical-margin;
    border-left: $divider-border-width solid $divider-border-color;
    height: $divider-vertical-height;
    vertical-align: middle;
  }

  &-with-text {
    border-top: none;
    display: flex;
    white-space: nowrap;
    align-items: center;

    .#{$prefix}-divider-inner-text:not(:empty) {
      padding: $divider-inner-text-padding;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      width: 50%;
      border-top: $divider-border-width solid $divider-border-color;
    }

    &-left {
      &::before {
        width: 5%;
      }
      &::after {
        width: 95%;
      }
    }

    &-right {
      &::before {
        width: 95%;
      }
      &::after {
        width: 5%;
      }
    }
  }
}

.#{$prefix}-divider-dashed {
  &::before,
  &::after {
    border-top-style: dashed;
  }
}

.#{$prefix}-divider--vertical.#{$prefix}-divider--dashed {
  border-left-style: dashed;
}
