:root,
:root[theme-mode='light'],
[theme-mode='light'] {
  --sq-brand-color-1: #f2f3ff;
  --sq-brand-color-2: #d9e1ff;
  --sq-brand-color-3: #b5c7ff;
  --sq-brand-color-4: #8eabff;
  --sq-brand-color-5: #618dff;
  --sq-brand-color-6: #366ef4;
  --sq-brand-color-7: #0052d9;
  --sq-brand-color-8: #003cab;
  --sq-brand-color-9: #002a7c;
  --sq-brand-color-10: #001a57;
  --sq-warning-color-1: #fff1e9;
  --sq-warning-color-2: #ffd9c2;
  --sq-warning-color-3: #ffb98c;
  --sq-warning-color-4: #fa9550;
  --sq-warning-color-5: #e37318;
  --sq-warning-color-6: #be5a00;
  --sq-warning-color-7: #954500;
  --sq-warning-color-8: #713300;
  --sq-warning-color-9: #532300;
  --sq-warning-color-10: #3b1700;
  --sq-error-color-1: #fff0ed;
  --sq-error-color-2: #ffd8d2;
  --sq-error-color-3: #ffb9b0;
  --sq-error-color-4: #ff9285;
  --sq-error-color-5: #f6685d;
  --sq-error-color-6: #d54941;
  --sq-error-color-7: #ad352f;
  --sq-error-color-8: #881f1c;
  --sq-error-color-9: #68070a;
  --sq-error-color-10: #490002;
  --sq-success-color-1: #e3f9e9;
  --sq-success-color-2: #c6f3d7;
  --sq-success-color-3: #92dab2;
  --sq-success-color-4: #56c08d;
  --sq-success-color-5: #2ba471;
  --sq-success-color-6: #008858;
  --sq-success-color-7: #006c45;
  --sq-success-color-8: #005334;
  --sq-success-color-9: #003b23;
  --sq-success-color-10: #002515;
  --sq-gray-color-1: #f3f3f3;
  --sq-gray-color-2: #eee;
  --sq-gray-color-3: #e8e8e8;
  --sq-gray-color-4: #ddd;
  --sq-gray-color-5: #c6c6c6;
  --sq-gray-color-6: #a6a6a6;
  --sq-gray-color-7: #8b8b8b;
  --sq-gray-color-8: #777;
  --sq-gray-color-9: #5e5e5e;
  --sq-gray-color-10: #4b4b4b;
  --sq-gray-color-11: #393939;
  --sq-gray-color-12: #2c2c2c;
  --sq-gray-color-13: #242424;
  --sq-gray-color-14: #181818;

  // 文字 & 图标 颜色
  --sq-font-white-1: rgba(255, 255, 255, 100%);
  --sq-font-white-2: rgba(255, 255, 255, 55%);
  --sq-font-white-3: rgba(255, 255, 255, 35%);
  --sq-font-white-4: rgba(255, 255, 255, 22%);
  --sq-font-gray-1: rgba(0, 0, 0, 90%);
  --sq-font-gray-2: rgba(0, 0, 0, 60%);
  --sq-font-gray-3: rgba(0, 0, 0, 40%);
  --sq-font-gray-4: rgba(0, 0, 0, 26%);

  // 基础颜色
  --sq-brand-color: var(--sq-brand-color-7); // 色彩-品牌-可操作
  --sq-warning-color: var(--sq-warning-color-5); // 色彩-功能-警告
  --sq-error-color: var(--sq-error-color-6); // 色彩-功能-失败
  --sq-success-color: var(--sq-success-color-5); // 色彩-功能-成功

  // 基础颜色的扩展 用于 hover / 聚焦 / 禁用 / 点击 等状态
  --sq-brand-color-hover: var(--sq-brand-color-6); // hover态
  --sq-brand-color-focus: var(--sq-brand-color-2); // focus态，包括鼠标和键盘
  --sq-brand-color-active: var(--sq-brand-color-8); // 点击态
  --sq-brand-color-disabled: var(--sq-brand-color-3); // 禁用态
  --sq-brand-color-light: var(--sq-brand-color-1); // 浅色的选中态
  --sq-brand-color-light-hover: var(--sq-brand-color-2);

  // 警告色扩展
  --sq-warning-color-hover: var(--sq-warning-color-4);
  --sq-warning-color-focus: var(--sq-warning-color-2);
  --sq-warning-color-active: var(--sq-warning-color-6);
  --sq-warning-color-disabled: var(--sq-warning-color-3);
  --sq-warning-color-light: var(--sq-warning-color-1);
  --sq-warning-color-light-hover: var(--sq-warning-color-2);

  // 失败/错误色扩展
  --sq-error-color-hover: var(--sq-error-color-5);
  --sq-error-color-focus: var(--sq-error-color-2);
  --sq-error-color-active: var(--sq-error-color-7);
  --sq-error-color-disabled: var(--sq-error-color-3);
  --sq-error-color-light: var(--sq-error-color-1);
  --sq-error-color-light-hover: var(--sq-error-color-2);

  // 成功色扩展
  --sq-success-color-hover: var(--sq-success-color-4);
  --sq-success-color-focus: var(--sq-success-color-2);
  --sq-success-color-active: var(--sq-success-color-6);
  --sq-success-color-disabled: var(--sq-success-color-3);
  --sq-success-color-light: var(--sq-success-color-1);
  --sq-success-color-light-hover: var(--sq-success-color-2);

  // 背景色

  --sq-bg-color-container: #fff; // 色彩 - 容器
  --sq-bg-color-container-hover: var(--sq-gray-color-1); // 色彩 - 容器 - hover
  --sq-bg-color-container-active: var(--sq-gray-color-3); // 色彩 - 容器 - active
  --sq-bg-color-container-select: #fff; // 色彩 - 容器 - select
  --sq-bg-color-component: var(--sq-gray-color-3); // 色彩 - 组件
  --sq-bg-color-component-hover: var(--sq-gray-color-4); // 色彩 - 组件 - hover
  --sq-bg-color-component-active: var(--sq-gray-color-6); // 色彩 - 组件 - active
  --sq-bg-color-component-disabled: var(--sq-gray-color-2); // 色彩 - 组件 - disabled

  // 文本颜色
  --sq-text-color-primary: var(--sq-font-gray-1); // 色彩-文字-主要
  --sq-text-color-secondary: var(--sq-font-gray-2); // 色彩-文字-次要
  --sq-text-color-placeholder: var(--sq-font-gray-3); // 色彩-文字-占位符/说明
  --sq-text-color-disabled: var(--sq-font-gray-4); // 色彩-文字-禁用
  --sq-text-color-anti: #fff; // 色彩-文字-反色
  --sq-text-color-brand: var(--sq-brand-color-7); // 色彩-文字-品牌
  --sq-text-color-link: var(--sq-brand-color-8); // 色彩-文字-链接

  // 分割线
  --sq-component-stroke: var(--sq-gray-color-3);
  // 边框
  --sq-component-border: var(--sq-gray-color-4);
}
