@use '../../style/mixin' as *;
@use './var' as *;

$module: #{$prefix}-popup;
$trigger-module: #{$prefix}-trigger;

.#{$module} {
  @include reset;

  color: $popup-text-color;
  display: inline-block;

  &-content {
    position: relative;
    background-color: $popup-bg;
    box-shadow: $popup-shadow;
    border-radius: $border-radius-md;
    padding: $popup-padding;
    font-size: $popup-content-font-size;
    line-height: $popup-content-line-height;
    box-sizing: border-box;
    word-break: break-all;
  }

  .#{$module}-arrow {
    position: relative;
    width: $popup-arrow-width;
    height: $popup-arrow-height;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      width: $popup-arrow-width;
      height: $popup-arrow-height;
      background-color: $arrow-bg;
      transform-origin: 50% 50% 0;
    }
  }

  // Motion
  &-motion {
    transition: $popup-flow-transition-enter;

    &.#{$module}-motion-preEnter {
      opacity: 0;
      transform: scale($popup-flow-transition-scale);
    }

    &.#{$module}-motion-exiting {
      transition: $popup-flow-transition-leave;
      opacity: 0;
      transform: scale($popup-flow-transition-scale);
    }

    &.#{$module}-motion-exited {
      display: none;
    }
  }
}

.#{$trigger-module} {
  // Arrow Directions Adaption
  &[data-trigger-placement^='top'],
  &[data-trigger-placement^='bottom'] {
    .#{$module}-arrow {
      padding: 0 calc($popup-arrow-size / 2);
    }
  }

  &[data-trigger-placement^='left'],
  &[data-trigger-placement^='right'] {
    .#{$module}-arrow {
      padding: calc($popup-arrow-size / 2) 0;
    }
  }

  // Top
  &[data-trigger-placement^='top'] .#{$module}-arrow::before {
    transform: translateY(-50%) rotate(45deg);
    box-shadow: $popup-top-arrow-shadow;
  }

  &[data-trigger-placement='top-start'] .#{$module}-arrow::before {
    transform: translate(100%, -50%) rotate(45deg);
  }
  &[data-trigger-placement='top-end'] .#{$module}-arrow::before {
    transform: translate(-100%, -50%) rotate(45deg);
  }

  // Bottom
  &[data-trigger-placement^='bottom'] .#{$module}-arrow::before {
    transform: translateY(50%) rotate(45deg);
    box-shadow: $popup-bottom-arrow-shadow;
  }

  &[data-trigger-placement='bottom-start'] .#{$module}-arrow::before {
    transform: translate(100%, 50%) rotate(45deg);
  }
  &[data-trigger-placement='bottom-end'] .#{$module}-arrow::before {
    transform: translate(-100%, 50%) rotate(45deg);
  }

  // Left
  &[data-trigger-placement^='left'] .#{$module}-arrow::before {
    transform: translateX(-50%) rotate(45deg);
    box-shadow: $popup-left-arrow-shadow;
  }

  &[data-trigger-placement='left-start'] .#{$module}-arrow::before {
    transform: translate(-50%, 100%) rotate(45deg);
  }
  &[data-trigger-placement='left-end'] .#{$module}-arrow::before {
    transform: translate(-50%, -100%) rotate(45deg);
  }

  // Right
  &[data-trigger-placement^='right'] .#{$module}-arrow::before {
    transform: translateX(50%) rotate(45deg);
    box-shadow: $popup-right-arrow-shadow;
  }

  &[data-trigger-placement='right-start'] .#{$module}-arrow::before {
    transform: translate(50%, 100%) rotate(45deg);
  }
  &[data-trigger-placement='right-end'] .#{$module}-arrow::before {
    transform: translate(50%, -100%) rotate(45deg);
  }
}
