@use 'sass:map';
@use '../../style/mixin' as *;

// 颜色
$input-border-color: (
  default: $component-border,
  default-hover: $brand-color-hover,
  default-focus: $brand-color-active,
  success: $success-color,
  success-hover: $success-color-hover,
  warning: $warning-color,
  warning-hover: $warning-color-hover,
  error: $error-color,
  error-hover: $error-color-hover,
  readonly: $text-color-disabled,
);

$input-text-color: (
  default: $text-color-primary,
  success: $success-color,
  warning: $warning-color,
  error: $error-color,
  readonly: $text-color-primary,
  disabled: $text-color-disabled,
  tips: $text-color-placeholder,
);

$input-placeholder-color: $text-color-placeholder;

// input 输入框需要在浅色主题下有默认白色背景，而在暗色等其他主题下 transparent 适配背景色，因此不使用通用背景 token
$input-bg-color: (
  default: $bg-color-special-component,
  readonly: $bg-color-special-component,
  disabled: $bg-color-component-disabled,
);

$input-extra-color-default: $text-color-placeholder;
$input-extra-color-success: $success-color;
$input-extra-color-warning: $warning-color;
$input-extra-color-error: $error-color;

$input-append-color: $bg-color-secondary-container-hover;

$input-limit-color: $text-color-placeholder;

// 位置
$input-fix-position: $spacer;

// 间距
$input-padding-lg: $padding-md $padding-md;
$input-padding-md: 0 $padding-sm;
$input-margin-distance-md: $margin-xxxl;
$input-status-position-right: -24px;
$input-group-first-child-margin-left: -1px;

// 尺寸
$input-height-sm: $size-xs;
$input-height-md: $size-md;
$input-height-lg: $size-xl;
$input-real-icon-font-size: inherit;
$input-tips-min-height: $text-line-height-sm;

// 图标
$input-real-prefix-icon-color: $text-color-placeholder;
$input-real-suffix-icon-color: $text-color-placeholder;
$input-real-suffix-icon-color-hover: $text-color-secondary;

// 字号
$input-font-lg: $font-lg;
$input-font-md: $font-md;
$input-font-sm: $font-sm;
$input-extra-font: $font-sm;
$input-tips-font: $font-sm;

// 边框
$input-border-radius: $border-radius-md;

// box
$input-box-shadow-color: (
  default-focus: $brand-color-focus,
  success-focus: $success-color-focus,
  warning-focus: $warning-color-focus,
  error-focus: $error-color-focus,
);

$input-box-shadow-focus: 0 0 0 2px map.get($input-box-shadow-color, default-focus);

// 动画
$input-real-transition:
  border $anim-time-fn-easing $anim-duration-base,
  box-shadow $anim-time-fn-easing $anim-duration-base,
  background-color $anim-time-fn-easing $anim-duration-base;

// 交互
$input-cursor-readonly: pointer;

$input-addon-item-padding: 0 $padding-sm;
$input-addon-border-color-default: $component-border;
